.top-header {
    text-align: center;
    background-color: #493e3c;
    padding: 1%;
}
.top-header > * {
    color: white;
    margin: 1%;
}
footer{
    display: flex;
    justify-content: space-around;
}
.footer-left .footer-center .footer-right{
    height: 20%;
}



.main-header {
    display: flex;
    justify-content: space-around;
    padding: 2%;
}
.main-header .navbar {
    width: 30%;
}
.main-header .navbar ul {
    display: flex;
    list-style-type: none;
}
.main-header .navbar ul li {
    margin: 5%;
}
.main-header .navbar ul li a {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.right-header {
    width: 15%;
    display: flex;
    justify-content: space-around;
}
.right-header .cart >{
    margin: 2%;
}
.right-header .cart img {
    width: 20%;
}
