.top-header {
    text-align: center;
    background-color: #493e3c;
    padding: 1%;
}
.top-header > * {
    color: white;
    margin: 1%;
}
footer{
    display: flex;
    justify-content: space-around;
}
.footer-left .footer-center .footer-right{
    height: 20%;
}



.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
}
.main-header .navbar {
    width: 30%;
}
.main-header .navbar ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}
.main-header .navbar ul li {
    margin: 5%;
}
.main-header .navbar ul li a {
    color: black;
    font-size: 13px;
}
.right-header {
    width: 30%;
    display: flex;
    justify-content: end;
}
.right-header .search {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 20%;
    font-size: 13px;
    margin: 2%;
}
.right-header .cart {
    width: 15%;
    margin: 2%;
}
.right-header .cart img {
    width: 50%;
}
