.top-header {
    display: flex;
    background-color: #493e3c;
    justify-content: center;
    align-items: center;

}
.top-header * {
    color: white;
    margin: 1%;
}
.mar * {
    display: inline-block;
}
.mar span {
}

footer {
    background-color: #f8f8f8; /* Màu nền cho footer */
    padding: 20px 0; /* Khoảng cách trên và dưới */
    font-size: 0.9em; /* Thu nhỏ font chữ */
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

footer .footer-left,
footer .footer-center,
footer .footer-right {
    flex: 1;
    margin: 0 30px;
}

.footer-left > div {
    padding: 10px;
}

.social {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}
.social i {
    font-size: 30px;
}
.product-content {
    display: flex;
}
.product-title {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.line {
    width: 80%;
    height: 1px;
}
.product-title .line div {
    border-top: 1px solid;
    height: 1px;
}

.product-title p {
    font-size: 35px;
}
.product-item {
    overflow: hidden;
}
.image_product {
    overflow: hidden;
    height: 290px;
}
.product-item:hover img {
    width: 105% !important;
    opacity: 0;
    transition: 0.5s ease;
}
.product-item:hover .image_product {
    background-image: url("../image/pr1.png");
    width: 100%;
}
.product-content .product-item {
    width: 80%;
}
.product-content .product-item img {
    width: 100%;
}

.product-content .product-item .cost-name {
    display: flex;
    justify-content: space-between;
}

.product-content .product-item .cost-name p {
    margin-top: 10%;
    font-size: 16px;
}

.fanpage_img img {
    width: 90%;
}

footer h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

footer strong {
    display: block;
    margin-bottom: 5px;
}

footer .social {
    margin-top: 10px;
}

footer .footer-left img {
    max-width: 250px;
}

footer .footer-center div,
footer .footer-right div {
    margin-bottom: 10px;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
}
.main-header .navbar {
    width: 40%;
}
.main-header .navbar ul {
    width: 100%;
    display: flex;
    list-style-type: none;
    padding: 0;
    align-items: center;
    margin: 0;
}
.main-header .navbar ul li {
    margin: 5%;
}
.main-header .navbar ul li a {
    color: black;
    font-size: 14px;
    font-weight: 700;
}
.logo {
    width: 40%;
}
.logo img {
    width: 100%;
}
.right-header {
    width: 20%;
    display: flex;
    justify-content: space-around;
}
.right-header .search {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 14px;
    font-weight: 700;
    margin: 2%;
    width: 40%;
}
.right-header .cart {
    width: 25%;
    margin: 2%;
}
.right-header .cart img {
    width: 50%;
}

.banner img {
    width: 100%;
}
.category {
    display: flex;
    justify-content: space-around;
    padding: 5%;
}
.category .cate-item {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.category .cate-item i {
    font-size: 70px;
}
