.top-header {
    display: flex;
    background-color: #493e3c;
    justify-content: center;
    align-items: center;
}

.top-header * {
    color: white;
    margin: 1%;
}

.top-header marquee {
    width: 10%;
}
.main-header{
    justify-content: space-between;
}

.navbar ul{
    display: flex;
    gap: 20px;
}

.navbar ul li a {
    display: inline-block;
    vertical-align: top;
    position: relative;
    z-index: 1;
    text-align: center;
    text-decoration: none !important;
    font-size: 15px;
    font-family: 'GothicA1-SemiBold';
    color: #000000;
    margin: 0px;
    padding: 10px 10px;
    text-transform: uppercase;
    border-radius: 0px;
}
.navbar ul li{
        list-style-type: none;

}
.navbar ul li ul{
    display: none;
}
.navbar ul li:hover > ul {
    display: block;
}

.nav-link {
    display: flex !important;
    padding: 0.5rem 11rem !important;
}

.search {
    width: 300px;
}

.form-control {
    width: 100px;
}

/* Footer Styles */
footer {
    background-color: #f8f8f8; /* Footer background color */
    padding: 20px 0; /* Top and bottom padding */
    font-size: 0.9em; /* Smaller font size */
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

footer .footer-left,
footer .footer-center,
footer .footer-right {
    flex: 1;
    margin: 0 30px;
}

.footer-left > div {
    padding: 10px;
}

.social {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

.social i {
    font-size: 30px;
}

.auth, .logout, .name-user {
    display: flex;
    position: relative;
    transform: translateX(400px);
}

.auth a, .logout {
    color: white !important;
    margin-left: 10px;
    margin-right: 10px;
}

.search {
    left: -80px;
    top: 20px;
    width: 40px !important;
    height: 40px !important;
    position: relative;
    transform: translateX(100px);
    background: #fff;
    border-radius: 60px;
    transition: 0.5s;
    box-shadow: 0 0 0 1px #493e3c;
    overflow: hidden;
    }
    
    .search.active {
        width: 360px !important;
        box-shadow: 0 0 0 1px #493e3c;
    }
    
    .search .icon {
    position: absolute;
    top: 13px;
    left: 12px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    z-index: 1000;
    cursor: pointer;
    }
    
    .search .icon::before {
    content: '';
    position: absolute !important;
    width: 15px;
    height: 15px;
    border: 2px solid #493e3c;
    border-radius: 50%;
    transform: translate(-4px, -4px);
    }
    
    .search .icon::after {
    content: '';
    position: absolute !important;
    width: 3px;
    height: 12px;
    background: #493e3c;
    border-radius: 50%;
    transform: translate(6px, 6px) rotate(315deg);
    }
    
    .search .input {
    position: relative;
    width: 300px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items : center;
    }
    
    .search .input input{
    position: absolute;
    top: 3px;
    left: 40px;
    width: 100%;
    height: 100%;
    border : none;
    outline: navajowhite;
    font-size: 18px;
    
    
    }

    @media (max-width: 430px) {
        .top-header{
            font-size: 10px;
        }
        .auth, .logout, .name-user {
            margin-left: 200px;
            display: flex;
            transform: none;
        }
        
        .auth a, .logout {
            color: white !important;
            margin-left: 5px;
            margin-right: 5px;
        }
        .main-header{
            display: grid;
            text-align: center;
        }
        .main-header .navbar a{
            font-size: 7px !important;
        }
        .main-header .navbar ul li {
            margin: 12% !important;
        }
        .navbar ul{ 
            display: none;
        }
        .logo{
            margin-top: -20px;
         
    
        }
    
        .logo img{
            width: 100px;
            height: auto;
        }
        .cart{
            position: absolute;
            margin-top: -27px !important;
            margin-right: -550px !important;
    
        }
        .cart i{
            font-size: 15px !important;
        }
        .cart span{
           font-size: 7px !important; 
           height: 9px !important; 
           background-color: blueviolet;
        }
    
        .search {
            left: 50px;
            top: -15px;
            width: 300px !important;
            height: 15px !important;
            position: relative;
            transform: translateX(100px);
            background: #fff;
            border-radius: 60px;
            transition: 0.5s;
            box-shadow: 0 0 0 1px #493e3c;
            overflow: hidden;
        }
            
        .search .icon {
            position: absolute;
            top: 5px;
            left: 7px;
            width: 3px;
            height: 5px;
            background: #fff;
            border-radius: 30px;
            display: flex;
            justify-content: center;
            z-index: 1000;
            cursor: pointer;
        }
            
        .search .icon::before {
            content: '';
            position: absolute !important;
            width: 5px;
            height: 5px;
            border: 1px solid #493e3c;
            border-radius: 50%;
            transform: translate(-2px, -2px);
        }
            
        .search .icon::after {
            content: '';
            position: absolute !important;
            width: 2px;
            height: 5px;
            background: #493e3c;
            border-radius: 50%;
            transform: translate(2px, 1px) rotate(315deg);
        }
            
        .search .input {
            position: relative;
            width: 100px;
            height: 15px;
            display: flex;
            justify-content: center;
            align-items : center;
        }
            
        .search .input input{
            position: absolute;
            top: 0px;
            left: 20px;
            width: 100%;
            height: 100%;
            border : none;
            outline: navajowhite;
            font-size: 10px;
        }

      
       
        footer .container {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            height: auto !important;
        }
        footer .footer-left,
        footer .footer-center,
        footer .footer-right { 
            margin: 10px 5px; 
            flex: 1 1 100px; 
            max-width: 130px; 
        }
        .footer-left img {
            width: 50px !important;
            height: auto;
        }
        .footer-left span {
            font-size: 10px !important;
        }
        .footer-left i {
            font-size: 10px !important;
        }
    
        .footer-center h3 {
            font-size: 12px !important;
        }
        .footer-center b {
            font-size: 10px !important;
        }
        .footer-center i {
            font-size: 10px !important;
        }
        .footer-center span {
            font-size: 10px !important;
            display: block; 
            margin: 5px 0;
        }
    
        .footer-right h3 {
            font-size: 12px !important;
        }
        .footer-right .fanpage_img img {
            width: 100px !important;
            height: auto;
            margin-top: 10px; 
        }
    }
    