.content wrapper {
    height: 100%;
}
.form-wrapper {
    width: 80%;
    margin-left: 100px;
    margin-top: 20px;
}
.main-sidebar {
    position: fixed !important;
   
}

.content img {
    width: 30%;
}


.form-wrapper{
    width: 100% !important;
}
.content{
    margin-left: 260px !important;
}
#head-content{
    display: flex !important;
    justify-content: space-between;
}
